<template id="seamoss-navbar">
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand text-primary" href="/">
                <iconify-icon icon="healthicons:agriculture" inline="true" class="fs-4 text-secondary"></iconify-icon>
                N&M Sea Moss
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="/products/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative active" aria-current="page" href="/cart.html">Cart <span
                                class="badge rounded-pill bg-danger">
                                <span id="cartquantity">0</span>
                                <span class="visually-hidden">cart quantity</span>
                            </span>

                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/checkout">Checkout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>